.header{

    background-color: rgb(242, 242, 242);
    box-shadow: 2px 2px 2px 0 rgb(219, 219, 219);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}


.left{
    display: flex;
    align-items: center;
    height: 100px;
}

.logo{
    width: 70px;
    height: 60px;
    margin: 0 30px;
    display: flex;
    align-items: center;

}
.logo-title{
    margin:0;
   
}
.logo-subtitle{

}

.list{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    gap: 60px;
    margin-left: 200px;
}
.list-item_link:hover{
    border-bottom: 5px solid yellow ;
}

.list-item{
    
}
.list-item_link{
    color: #2b2a2a;
    
    text-decoration: none;

}